<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		
		<!--  Database Connection Settings -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/newsportal</property>		
		<property name="hibernate.connection.username">sahana</property>
		<property name="hibernate.connection.password">sahana</property>
		
		<!--  SQL Dialect -->
		<!-- <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> -->
		<property name="hibernate.dialect">org.hibernatespatial.postgis.PostgisDialect</property>

		<!-- Disable the second level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="hibernate.show_sql">true</property>
		<!-- Format pretty sql -->
		<!-- <property name="format_sql">true</property> -->
		<!-- Show comments in the formatted SQL -->
		<!-- <property name="use_sql_comments">true</property> -->

		<!-- continue on the created database on startup -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		<!-- validate - update - create - create-drop -->

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<property name="hibernate.connection.autocommit">true</property>

		<!-- Names the annotated entity class -->
		<mapping class="com.newsportal.model.bean.auth.AuthRole" />
		<mapping class="com.newsportal.model.bean.auth.AuthPermission" />
		<mapping class="com.newsportal.model.bean.auth.AuthUser" />
		<mapping class="com.newsportal.model.bean.auth.AuthRelation" />
		<mapping class="com.newsportal.model.bean.auth.AuthEvent" />
		<mapping class="com.newsportal.model.bean.doc.DocImage" />
		<mapping class="com.newsportal.model.bean.doc.DocDocument" />
		<mapping class="com.newsportal.model.bean.news.NewsCategory" />
		<mapping class="com.newsportal.model.bean.news.NewsPost" />
		<mapping class="com.newsportal.model.bean.news.NewsComment" />
		<mapping class="com.newsportal.model.bean.news.NewsTag" />
		<mapping class="com.newsportal.model.bean.person.PersonProfile" />
		<mapping class="com.newsportal.model.bean.person.PersonSubscriptionFilter" />
		<mapping class="com.newsportal.model.bean.person.PersonSubscription" />
		<mapping class="com.newsportal.model.bean.person.PersonSubscriptionResource" />
		
	</session-factory>
</hibernate-configuration>
